*.pth
*.pt
__pycache__
logs/*
eval*.txt
KD*.txt
teacher*.txt
*.ptl
nc_workspace/*
*.onnx*
eval*/keys
distil*.txt
tmp.txt
saved_*
teacher_cosine_emb/*
w*.txt
self*.txt
W2V2*.txt
Distil*.txt
quantization/*.txt
*.pt
test*.py
self_KD*.txt
dict.ltr.txt
wandb
vocoded_data
pretrained*
project*
data
code
test_samples
*.zip
*.txt
*.wav
*.flac